@model (List<TaskManagmentRoleBased.Models.Employee> emp, List<TaskManagmentRoleBased.Models.Task> task)
@{
    ViewBag.Title = "EmployeeTask";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";//needed to be updated
}

<h2>Employee Task</h2>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Task Date</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var t in Model.task)
                {
                    foreach (var emp in Model.emp)
                    {

                        if (t.EmployeeID == emp.EmployeeID)
                        {
                            <tr>
                                <td>@emp.FirstName @emp.LastName</td>
                                <td>@t.TaskDate.ToString("dd/MM/yy")</td>
                                <td>@t.TaskName</td>
                                <td>@t.TaskDescription</td>
                                <td>@t.Status</td>
                                <td>@t.CreatedOn.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <button type="button" data-id="@t.TaskID" class="btn btn-gradient-success approve" @(t.Status == "Approved   " || t.Status == "Rejected" ? "disabled" : "")>Approve</button>
                                    <button type="button" data-id="@t.TaskID" class="btn btn-gradient-danger reject" @(t.Status == "Approved   " || t.Status == "Rejected" ? "disabled" : "")>Reject</button>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>


