
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@model TaskManagmentRoleBased.Models.Employee
<h2>Manager</h2>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Reporting Person</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    <tr>
                        <td>@Model.EmployeeCode</td>
                        <td>@Model.FirstName @Model.LastName</td>
                        <td>@Model.Email</td>
                        <td>@Model.BirthDate.ToString("dd/MM/yy")</td>
                        <td>@Model.Employee2.FirstName @Model.Employee2.LastName</td>
                        <td>@(Model.DepartmentId == 2 ? "Manager":"Employee")</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Please Logout First....</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>

